<%- include('partials/header.ejs') %>



<body class="container">
  <h1>Adeoye Ibukun</h1>
  <h2>Books I've read</h2>

  <p class="intro-introparagraph">Books I have read and my reviews. I'd rate them over 10 and say if it is a worthy read
  </p>
  <p>Sorted with my <span class="bold-text">top recommendations up top:</span> Sort by: <a href="#">Title</a> <a
      href="#">Most recent</a> <a href="#">Rating</a></p>
  <hr class="horizontal-rule">

  <div class="card">
    <img src="images/How to cope with difficult people.jpeg"
      alt="How to cope with difficult people book cover">
    <h3><a href="#">HOW TO COPE WITH DIFFICULT PEOPLE - BY ALAN HOUEL WITH CHRISTIAN GODEFREY</a></h3>
    <p class="review-info">DATE READ: 2025-02-04.  RATING: <strong>10</strong>/10.</p>
    <p class="review-text">Great book for anyone that is a person. Exposes the little things that one might not even
      consider about people. This
      book really shaped my mindset on dealing with people. Must-read for everyone.</p>
  </div>
















</body>

</html>