* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FBF5E5;
  font-size: 1em;
}

body {
  display: flex;
  gap: 20px;

}

h1 {
  font-size: 1.5em;
}

input {
  height: max-content;
  width: 70%;
}


.books-display {

}




.books-display > div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 2px solid;
  padding: 5px;
  margin: 10px;
}

.books-display > div > h4, p, text {
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 8px;
  height: 70%;
  margin: 2%;
}

form>div {
  margin-bottom: 5%;
}

label {
  color: rgb(79, 78, 77);
  font-weight: 700;
}

.review {
  display: flex;
  gap: 10px;
}