* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FBF5E5;
  font-size: 1.1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

h1 {
  font-size: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
}

form>div {
  margin-bottom: 5%;
}

label {
  color: rgb(79, 78, 77);
  font-weight: 700;
}

.review {
  display: flex;
  gap: 10px;
}